
<div id="contact">
	<div class="row">

		<div class="col-xs-12 col-sm-6 col-md-6">
			<h2>Contact Us</h2>
			<div class="email">
				<a href="mailto:username@example.com?subject=EHMF%20Contact&body=Do%20you%20want%20automessages"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</a>
			</div>
			<div class="phone">
				<p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 555-555-5555</p>
			</div>
			<div class="mail">
				<p>The Erik Hendricks Memorial Foundation</p>
				<p>Grand Central Station</p>
				<p>P.O. Box 4777</p>
				<p>New York, NY 10163-4777</p>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 text-center">
			<img src="<%= asset_path 'family2.jpg'%>" alt="">
		</div>

	</div>
</div>