
<div id="contact">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Contact Us</h2>
		</div>

	</div>	
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">

			<div class="contact-wrapper">
				<div class="first text-center">
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					Email:
				</div>
				<div class="second text-center">
					<%= mail_to "ehmemorialfoundation@gmail.com", "ehmemorialfoundation@gmail.com",
         subject: "EHMF - Contact Us" %>
       	</div>
			</div>

			<div class="contact-wrapper">
				<div class="first text-center">
					<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
					Phone:
				</div>
				<div class="second text-center">
					617.548.2938
	     	</div>
			</div>

			<div class="contact-wrapper">
	     	<div class="first text-center">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					Address:
				</div>
				<div style="margin-bottom:20px;" class="second text-center">
					Haverford, PA
	     	</div>
				<div class="text-center" style="width:400px;height:300px;" id="map-canvas"></div>
     	</div>

		</div>


		<div class="col-xs-12 col-sm-6 col-md-6 text-center">
			<img src="<%= asset_path 'family2.jpg'%>" alt="">
		</div>

	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
  var myLatlng = new google.maps.LatLng(40.0131, -75.2944);
  var mapOptions = {
    zoom: 10,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
}

  google.maps.event.addDomListener(window, 'load', initialize);
</script>