<div id="donate">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Donate</h2>
			<h4>To donate, please choose from the options below.  The Paypal option allows you to make a one-time or recurring donation.  For questions about donation information please <%= link_to "contact us", contact_path %>. To find out how your Amazon purchases can translate into a donation to The Erik Hendricks Memorial Foundation scroll down.  Thank you for your support!</h4>
		</div>

	</div>
	<div class="row">

		<div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1 text-center donate-box">
			<h3>Donate through PayPal</h3>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="96S4ER6Z6Q39A">
				<input type="image" src="http://i296.photobucket.com/albums/mm195/thaynsworth/Donate_now_zps7fqes0yo.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="50%" height="50%">
			</form>
		</div>

		<div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-2 donate-box">
			<h3 class="text-center">Send us a check</h3>
			<p class="text-center">Checks can be made out to the <span style="font-weight:bold;font-style:italic;">Erik Hendricks Memorial Foundation</span></p>
			<h5 style="font-weight:bold;text-decoration:underline;">Mailing Address:</h5>
			<p>EHMF</p>
			<p>ATTN: Patricia Porter</p>
			<p>532 Avonwood Road</p>
			<p>Haverford, PA 19041</p>
		</div>

	</div>
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Shopping with Amazon</h2>
			<h4 style="padding-bottom: 14px;">The AmazonSmile Foundation will donate 0.5% of the purchase price from customers’ eligible AmazonSmile purchases to the charitable organizations their customers select. </h4>
			<p><span style="font-weight: bold;">HOW:</span> On your first visit to AmazonSmile (<a href="http://www.smile.amazon.com">smile.amazon.com</a>), you need to select a charitable organization to receive donations from eligible purchases before you begin shopping. Amazon smile will remember your selection, and then every eligible purchase you make at <a href="http://www.smile.amazon.com">smile.amazon.com</a> will result in a donation!  We hope you select The Erik Hendricks Memorial Foundation, but encourage you to use this amazon option and select any of the thousands of 501(c)(3) organizations registered with Amazon Smile.</p>
		</div>

	</div>
</div>
