<div id="donate">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Donate</h2>
			<h4>To donate, please choose from the options below.  The Paypal option allows you to make a one-time or recurring donation.  For questions about donation information please <%= link_to "contact us", contact_path %>. To find out how your Amazon purchases can translate into a donation to The Erik Hendricks Memorial Foundation scroll down.  Thank you for your support!</h4>
		</div>

	</div>
	<div class="row">

		<div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1 text-center donate-box">
			<h3>Donate through PayPal</h3>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="96S4ER6Z6Q39A">
				<input type="image" src="http://i296.photobucket.com/albums/mm195/thaynsworth/Donate_now_zps7fqes0yo.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="50%" height="50%">
			</form>
		</div>

		<div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-2 donate-box">
			<h3 class="text-center">Send us a check</h3>
			<p class="text-center">Checks can be made out to the <span style="font-weight:bold;font-style:italic;">Erik Hendricks Memorial Foundation</span></p>
			<h5 style="font-weight:bold;text-decoration:underline;">Mailing Address:</h5>
			<p>EHMF</p>
			<p>ATTN: Patricia Porter</p>
			<p>532 Avonwood Road</p>
			<p>Haverford, PA 19041</p>
		</div>

	</div>
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Shopping with Amazon</h2>
		</div>

	</div>
	<div class="row">

		<div class="col-xs-12 col-sm-6 col-md-4 text-center">
			<div id="amznCharityBanner"><script type="text/javascript">(function() {var iFrame = document.createElement('iframe'); iFrame.style.display = 'none'; iFrame.style.border = "none"; iFrame.style.margin = "0 auto"; iFrame.width = 310; iFrame.height = 256; iFrame.setAttribute && iFrame.setAttribute('scrolling', 'no'); iFrame.setAttribute('frameborder', '0'); setTimeout(function() {var contents = (iFrame.contentWindow) ? iFrame.contentWindow : (iFrame.contentDocument.document) ? iFrame.contentDocument.document : iFrame.contentDocument; contents.document.open(); contents.document.write(decodeURIComponent("%3Cdiv%20id%3D%22amznCharityBannerInner%22%3E%3Ca%20href%3D%22https%3A%2F%2Fsmile.amazon.com%2Fch%2F47-3308309%22%20target%3D%22_blank%22%3E%3Cdiv%20class%3D%22text%22%20height%3D%22%22%3E%3Cdiv%20class%3D%22support-wrapper%22%3E%3Cdiv%20class%3D%22support%22%20style%3D%22font-size%3A%2023px%3B%20line-height%3A%2026px%3B%20margin-top%3A%204px%3B%20margin-bottom%3A%204px%3B%22%3ESupport%20%3Cspan%20id%3D%22charity-name%22%20style%3D%22display%3A%20inline-block%3B%22%3EErik%20Hendricks%20Memorial%20Foundation%20Inc.%3C%2Fspan%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cp%20class%3D%22when-shop%22%3EWhen%20you%20shop%20at%20%3Cb%3Esmile.amazon.com%2C%3C%2Fb%3E%3C%2Fp%3E%3Cp%20class%3D%22donates%22%3EAmazon%20donates.%3C%2Fp%3E%3C%2Fdiv%3E%3C%2Fa%3E%3C%2Fdiv%3E%3Cstyle%3E%23amznCharityBannerInner%7Bbackground-image%3Aurl(https%3A%2F%2Fimages-na.ssl-images-amazon.com%2Fimages%2FG%2F01%2Fx-locale%2Fpaladin%2Fcharitycentral%2Fbanner-background-image._CB309675353_.png)%3Bwidth%3A300px%3Bheight%3A250px%3Bposition%3Arelative%7D%23amznCharityBannerInner%20a%7Bdisplay%3Ablock%3Bwidth%3A100%25%3Bheight%3A100%25%3Bposition%3Arelative%3Bcolor%3A%23000%3Btext-decoration%3Anone%7D.text%7Bposition%3Aabsolute%3Btop%3A20px%3Bleft%3A15px%3Bright%3A15px%3Bbottom%3A100px%7D.support-wrapper%7Boverflow%3Ahidden%3Bmax-height%3A86px%7D.support%7Bfont-family%3AArial%2Csans%3Bfont-weight%3A700%3Bline-height%3A28px%3Bfont-size%3A25px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D.when-shop%7Bfont-family%3AArial%2Csans%3Bfont-size%3A15px%3Bfont-weight%3A400%3Bline-height%3A25px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D.donates%7Bfont-family%3AArial%2Csans%3Bfont-size%3A15px%3Bfont-weight%3A400%3Bline-height%3A21px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D%3C%2Fstyle%3E")); contents.document.close(); iFrame.style.display = 'block';}); document.getElementById('amznCharityBanner').appendChild(iFrame); })(); </script></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h4 style="padding-bottom: 14px;">The AmazonSmile Foundation will donate 0.5% of the purchase price from customers’ eligible AmazonSmile purchases to the charitable organizations their customers select. </h4>
			<p><span style="font-weight: bold;">Get Started Quickly:</span> The Erik Hendricks Memorial Foundation's Unique Link: <a href="http://smile.amazon.com/ch/47-3308309">http://smile.amazon.com/ch/47-3308309</a></p>
			<p><span style="font-weight: bold;">HOW:</span> On your first visit to AmazonSmile (<a href="http://www.smile.amazon.com">smile.amazon.com</a>), you need to select a charitable organization to receive donations from eligible purchases before you begin shopping. Amazon smile will remember your selection, and then every eligible purchase you make at <a href="http://www.smile.amazon.com">smile.amazon.com</a> will result in a donation!  We hope you select The Erik Hendricks Memorial Foundation, but encourage you to use this amazon option and select any of the thousands of 501(c)(3) organizations registered with Amazon Smile.</p>
		</div>

	</div>
</div>
