<div id="hcl">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
			<h2 class="page-header">Thank you!</h2>
		</div>	

		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
			<p>We can't thank you enough for donating to the Erik Hendricks Memorial Foundation!</p>
			<p>Please <%= link_to 'contact us', contact_path %> with any questions.</p>
		</div>

	</div>
</div>