<div id="events">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2>Events</h2>
		</div>

	</div>
	<div class="row">
	
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-3 box box-color">	
			<h3>Rocco's Round</h3>
			<h4>When: July 2015</h4>
			<h4>Where: Philadelphia Country Club</h4>
			<p>2015 will be the first annual golf tournament raising funds for the Erik Hendricks Memorial Foundation.  Each foursome will play 18 holes.  There will be prizes throughout the day and a raffle during lunch.  The tournament will be held at the Philadelphia Country Club and is invite only.  If you are not a golfer, you are more than welcome to attend the lunch only.</p>
			<span><a href="<%= contact_path %>">Contact us</a> for additional information.</span>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3 box other-box-color">	
			<h3>Squash Round Robin</h3>
			<h4>When: November 2015</h4>
			<h4>Where: TBD</h4>
			<p>We will hold a squash round robin and mixer in November 2015 to kick-off the squash season and play squash the way Erik Hendricks loved: with a lot of socializing and gabbing throughout the points.  There will be singles and doubles matches through the day Saturday and a social event.  All proceeds will go to the Erik Hendricks Memorial Foundation.  More details and a date for the event, coming soon.</p>
			<span><a href="<%= contact_path %>">Contact us</a> for additional information.</span>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3 box box-color">	
			<h3>Hundo for Hendo</h3>
			<h4>When: TBD</h4>
			<h4>Where: TBD</h4>
			<p>a BIG runner and is hoping to raise money by getting people to donate $100 to her to run 100 miles in the calendar year of 2015. </p>
			<span><a href="<%= contact_path %>">Contact us</a> for additional information.</span>
			
		</div>

	</div>
</div>