<div id="hcl">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Erik Hendricks Memorial Foundation</h2>
		</div>

	</div>
	<div class="row hcl-info">

		<div class="col-xs-12 col-sm-12 col-md-12 summary">			
			<p>Erik Hendricks battled Hairy Cell Leukemia (HCL) for more than 20 years, and ultimately lost his life to the disease. The Erik Hendricks Memorial Foundation, a 501(c)(3) tax-exempt organization, was established in April 2015 to honor the memory of Erik Hendricks and ensure that his legacy lives on for years to come. Erik battled HCL valiantly for many years, but after multiple relapses, the treatment options were scarce. As HCL is a very rare form of leukemia, research into the causes and additional treatment options are extremely underfunded. The Erik Hendricks Memorial Foundation seeks to bring awareness to and raise much-needed funding for HCL research, clinical trials and patient support. The Hairy Cell Leukemia Foundation is currently conducting a fundraising campaign to meet a $1 million fundraising challenge match. The funds raised through the Erik Hendricks Memorial Foundation will be donated to this campaign - so your gift or your participation in a fundraising event - will be doubled in its impact on the fight against this disease. </p>
			<p style="font-weight: bold; font-size: 16px; font-style: italic;">Your gift to the Erik Hendricks Memorial Foundation will honor the legacy of Erik Hendricks by advancing research and patient support focused on Hairy Cell Leukemia. Thank you for honoring the legacy of a great man, and impacting the lives of thousands of patients like him. </p>
		</div>

	</div>
	<div class="row hcl-info">
		
		<div class="col-xs-12 col-sm-12 col-md-4">			
			<h3 class="page-header">Board of Directors</h3>
			<ul>
				<li>Stephanie Hendricks – President</li>
				<li>Katherine Hendricks – Secretary</li>
				<li>Patricia Porter – Treasurer</li>
				<li>Michael Craven – Director</li>
				<li>Pamela Russell – Director </li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 text-center">
			<img class="" src="<%= asset_path 'EHMF_Logo_tester.svg'%>" alt="">
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4">			
			<h3 class="page-header">About Our Logo</h3>
			<p>The Triskele, also known as the triple spiral, is the Celtic symbol for life. The symbol is a nod to Erik Hendricks’ Irish heritage and the foundation’s mission of improving the lives of those fighting HCL by raising funds to advance research into the disease. Additionally, the colors yellow and navy were Erik’s favorite colors he was almost guaranteed to be dressed in one or both of those colors, or in head-to-toe yellow.</p>
		</div>

	</div>
</div>







