<div id="hcl">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Erik Hendricks Memorial Foundation</h2>
		</div>

	</div>
	<div class="row hcl-info">

		<div class="col-xs-12 col-sm-12 col-md-12 summary">			
			<p>Those who knew Erik Hendricks knew that he battled Hairy Cell Leukemia (HCL) for more than 20 years, and ultimately lost his life to the disease. To honor his memory, the Erik Hendricks Memorial Foundation seeks to raise much-needed funding for HCL research, which will ultimately help others afflicted with this disease fight as valiantly as Erik did. The Hairy Cell Leukemia Foundation is currently conducting a fundraising campaign to meet a $1 million fundraising challenge match. The funds raised through the Erik Hendricks Memorial Foundation will be donated to this campaign - so your gift, or your participation in a fundraising event - will be doubled in its impact on the fight against this disease. </p>
			<p style="font-weight: bold; font-size: 16px; font-style: italic;">Your gift to the Erik Hendricks Memorial Foundation will  honor the legacy of Erik Hendricks by advancing research and patient support focused on Hairy Cell Leukemia.  Thank you for honoring the legacy of a great man, and impacting the lives of thousands of patients like him. </p>
		</div>

	</div>
</div>