

<div id="hcl">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Erik Hendricks Memorial Foundation</h2>
		</div>

	</div>
	<div class="row hcl-info">

		<div class="col-xs-12 col-sm-12 col-md-6">			
			<h3>About Hairy Cell Leukemia</h3>
			<p>Hairy cell leukemia is a chronic and relatively rare form of adult leukemia. It is estimated that approximately 2 % of all adult patients with leukemia have this form of disease. The cause of this malignancy is not known, but malignant cells infiltrate the bone marrow, the spleen, and the liver from the time of diagnosis.</p>
			<p>This disease usually is gradual in onset. Patients present with fatigue, increased susceptibility to infection, and enlargement of the spleen. The malignant cells in the bone marrow compromise the usual production of normal red cells, white blood cells, and platelets that are manufactured in the bone marrow.</p>
			<p>There are approximately 500 new cases of this disease discovered every year in the United States. There is an unexplained larger number of men than women afflicted with this leukemia. This disease is treatable; however, current treatment is not considered curative.  Different therapies can be given sequentially as needed to control the disease.</p>
			<a href="http://www.cancer.gov/types/leukemia/patient/hairy-cell-treatment-pdq">Additional Information</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 text-center">
			<img src="<%= asset_path 'hcl.jpg'%>" alt="">
		</div>

	</div>
	<div class="row hcl-info">

		<div class="col-xs-12 col-sm-12 col-md-6 text-center">
			<img class="" src="<%= asset_path 'Triple-Spiral-info.png'%>" alt="">
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6">			
			<h3>About Our Logo</h3>
			<p>Yellow and Navy were Erik's favorite colors and he was almost guaranteed to be dressed in one or both of those colors, or head-to-toe in yellow.  The triple spiral is the Celtic symbol for life.  It is also known as the spiral of life.</p>
			<p>The triple spiral, also known as the spiral of life, found wide usage in the artistic expressions of the ancient Celts. Its representations have been found in abundance at the Bronze Age sites in Ireland.</p>
			<p>The ancient Celts believed that life, in all forms, moved consistently in cycles which were ongoing and eternal in nature.</p>
			<p>It was also believed that every activity related to life and death happened in three distinct phases, each of which was equally important for maintaining balance of nature.</p>
			<p>These three eternal cycles were represented by the triple spiral. </p>
		</div>

	</div>	
</div>
