

<div id="hcl">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Hairy Cell Leukemia</h2>
		</div>

	</div>
	<div class="row hcl-info">

		<div id="info-nav" class="col-xs-12 col-sm-12 col-md-3">
			<ul>
				<li id="hcl-about-button"><a href='#hcl-about'><span>What is Hairy Cell Leukemia?</span></a></li>
			  <li id="hcl-history-button"><a href='#hcl-history'><span>History</span></a></li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 hcl-about">
			<h4>What is Hairy Cell Leukemia?</h4>			
			<p>Hairy cell leukemia is a chronic and relatively rare form of adult leukemia. It is estimated that approximately 2 % of all adult patients with leukemia have this form of disease. While the cause of this malignancy is not known, the origin of the malignant cell is thought to develop from the memory B cell compartment. These malignant cells infiltrate the bone marrow, the spleen, and the liver from the time of diagnosis. In the spleen, there is a characteristic location of these leukemic cells in the splenic red pulp. While lymph nodes in the abdomen may be involved, lymph nodes are rarely enlarged on physical examination. The original description of this malignancy included a number of patient cases that were reported in 1958.</p>
			<p>For many years, the origin of this malignant cell was debated. It is now generally held that this is a malignant B cell that is found predominantly in the bone marrow and spleen. These cells do circulate in the blood as well.</p>
			<p>This disease usually is gradual in onset. Patients present with fatigue, increased susceptibility to infection, and enlargement of the spleen. The malignant cells in the bone marrow compromise the usual production of normal red cells, white blood cells, and platelets that are manufactured in the bone marrow.</p>
			<p>There are approximately 500 new cases of this disease discovered every year in the United States. There is an unexplained larger number of men than women afflicted with this leukemia. This disease is treatable, but not curable. While the cause is not known, the treatment is usually very effective in helping patients lead a normal life.</p>
			<a href="https://www.hairycellleukemia.org/about-hcl/what-is-hairy-cell-leukemia/">hairycellleukemia.org</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 hide-hcl-info hcl-history">
			<h4>History of HCL</h4>			
			<p>Hairy cell leukemia represents an uncommon chronic form of B-cell leukemia. In the past, several individuals described similar cases and classified the disease as “leukemic reticuloendotheliosis”(Ewald, O 1923; Gosselelin GR in 1956; and Bouroncle B in 1958). Dr. Bouroncle described the multiple features of this rare leukemia firmly establishing this as a separate clinical entity. The malignant cells were identified predominantly in the bone marrow, spleen, and other tissues. The morphologic description of this malignant cell was so unique that it was subsequently called “hairy cell leukemia” consistent with the serrated border of the cytoplasm. While the origin of this malignant cell was often debated, it has ultimately been recognized as a B-cell malignancy with a very distinctive immunophenotypic profile.</p>
			<p>For the latter part of the past century, the diagnosis was made by describing these leukemic cells in the peripheral blood and the bone marrow. The cells were often identified as positive for the tartrate-resistant phosphatase cytochemical stain. With the advent of flow cytometry, the identity of this leukemia was characterized by the expression of markers: CD11c+,CD19, CD20, CD 25, CD103, CD 123, and Annexin positivity. Classic hairy cell leukemia has been differentiated from the less common variant form of this leukemia which is now known to be a completely separate clinical entity. The leukemic presentation of the variant form of this disease may be associated with bone marrow failure and significant splenomegaly, but the diagnostic markers differ from the classic form of the disease as does the clinical course and response to therapy. In the variant form of the disease, the markers CD25, CD 103, CD 123 and Annexin are not detected.</p>
			<p>In 2011, Dr. Tiacci and colleagues described the presence of BRAFV600E mutation in leukemic cells from almost every patient with the classic form of the disease. In sharp contrast, this mutation is missing in the variant form of the disease. This observation has provided diagnostic accuracy as well as a novel therapeutic target for patients with the classic form of the disease. In patients who have been unresponsive to standard effective therapy for classic hairy cell leukemia, clinical responses have been observed in patients treated with BRAFV600E inhibitors. Both vemurafenib and dabrafenib have been reported to induce remissions in patients with relapsed or refractory disease.</p>
			<p>In the 1950’s, Bouroncle and colleagues reported that the classic form of hairy cell leukemia had a variable chronic course, and the overall survival was in the range of 4 to 6 years. The patient bone marrow was routinely very fibrotic and involved with the leukemic cells making tolerance to standard cytotoxic agents very challenging. Tolerance to cytotoxic agents was very low, and equally ineffective. Consequently, splenectomy became the therapy of choice to correct the “cytopenias” that frequently complicated the clinical course for these patients. While splenectomy improved the blood counts, the response was usually limited.</p>
			<p>In 1984, Quesda and colleagues reported the remarkable results with daily alpha interferon. Despite symptoms related to the use of this biologic agent (e.g. fatigue, influenza-like symptoms), the improvement in hematologic parameters was dramatic. Granulocyte numbers improved both in the bone marrow and the peripheral blood. Splenomegaly gradually improved as the blood counts responded over several months. While more than 80% of patients achieved a response to alpha interferon, less than 20% achieved a complete remission. Furthermore, responses were in general short-lived after discontinuing this agent. In the same period, a report by Spiers showed that pentostatin was capable of inducing a complete remission in a limited number of patients with hairy cell leukemia. Shortly thereafter, other investigators showed that durable complete remissions could be achieved with lower doses of pentostatin. In a large randomized trial, Grever showed that pentostatin produced complete remission in more than 75% of patients and was markedly more effective than alpha-interferon.</p>
			<p>In 1990, Piro and colleagues showed that very promising responses could also be achieved with a seven-day intravenous infusion with cladribine. These responses were sustained. While the complete remission rate was reported to be greater than 90%, the rate of febrile neutropenia was higher with cladribine compared to pentostatin. This raised the possibility that pentostatin might be less likely to induce treatment-related infection. Both agents have now been confirmed as highly effective front-line therapy for newly diagnosed patients with hairy cell leukemia. Optimization of the doses and the correct timing for evaluating response may define the role for rituximab as an effective anti-CD20 monoclonal antibody that may be utilized to achieve negative MRD status.</p>
			<p>Despite the success and the impact of using either purine nucleoside analog, some patients will either relapse or be unresponsive to the initial induction therapy. Consequently, further evaluation of the BRAFV600E inhibitors or the combined chemo-immunotherapy with a purine analog and an anti-CD20 antibody are important. In addition, patients who relapse may be re-induced with standard therapy. The subsequent remissions may be less durable than those achieved with front-line therapy. Exploration of the optimal dose and schedule of administration of the BRAF V600E inhibitors, the use of novel targeted agents (e.g., immunotoxin conjugates like HA22) are promising, and will also be important. Finally, exploration of the utility for novel agents highly active in other B-cell lymphoid malignancies (e.g., Ibrutinib) may add therapeutic alternatives in ultimately achieving the most durable remissions.</p>
			<p>The enormous progress that has been made in therapy has re-kindled interest in defining the optimization of overall management for this chronic B-cell malignancy. Careful assessment of the impact of minimal residual disease on the subsequent course of this malignancy may provide a framework for additional progress in management. The myriad of clinical manifestations associated with this single entity provide optimal opportunities for taking a comprehensive assessment of the management of these patients. Advances in genomic profiling of initial malignant cells as well as those found at relapse will potentially afford information to circumvent drug resistance in this model of chronic leukemia. Hopefully, these lessons will light the way for advances in other forms of hematological malignancy. The historical journey associated with improving the outcome for patients with this disease should strengthen our commitment to make similar progress in other blood malignancies.</p>
			<a href="https://www.hairycellleukemia.org/about-hcl/what-is-hairy-cell-leukemia/">hairycellleukemia.org</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3 text-center">
			<img src="<%= asset_path 'hcl.jpg'%>" alt="">
		</div>

	</div>	
</div>

<script>
	$(function(){

	$('#info-nav li').click(function(){
		var	el = $(this);
		updateInfo(el);		

	});


function emptyInfo(){
	console.log('Hide all information');
	$("div.hcl-about").hide();
	$("div.hcl-history").hide();

}

function updateInfo(obj) {
	emptyInfo();
	var topic = obj.attr('id');
	if (topic === 'hcl-about-button') {
		var main = $('.hcl-about');
		main.fadeIn(400, function(){
			main.show();
		})
	} else if (topic === 'hcl-history-button') {
		var flowers = $('.hcl-history');
		flowers.fadeIn(400, function(){
			flowers.show();
		});
		console.log('showing hcl history');		
	} 
}

})
</script>
