

<div id="hcl">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Hairy Cell Leukemia</h2>
		</div>

	</div>
	<div class="row hcl-info">

		<div class="col-xs-12 col-sm-12 col-md-6">			
			
			<p>Hairy cell leukemia is a chronic and relatively rare form of adult leukemia. It is estimated that approximately 2 % of all adult patients with leukemia have this form of disease. The cause of this malignancy is not known, but malignant cells infiltrate the bone marrow, the spleen, and the liver from the time of diagnosis.</p>
			<p>This disease usually is gradual in onset. Patients present with fatigue, increased susceptibility to infection, and enlargement of the spleen. The malignant cells in the bone marrow compromise the usual production of normal red cells, white blood cells, and platelets that are manufactured in the bone marrow.</p>
			<p>There are approximately 500 new cases of this disease discovered every year in the United States. There is an unexplained larger number of men than women afflicted with this leukemia. This disease is treatable; however, current treatment is not considered curative.  Different therapies can be given sequentially as needed to control the disease.</p>
			<a href="http://www.cancer.gov/types/leukemia/patient/hairy-cell-treatment-pdq">Additional Information</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 text-center">
			<img src="<%= asset_path 'hcl.jpg'%>" alt="">
		</div>

	</div>	
</div>
