

<div id="hcl">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Hairy Cell Leukemia</h2>
		</div>

	</div>
	<div class="row hcl-info">

		<div id="info-nav" class="col-xs-12 col-sm-12 col-md-3">
			<ul>
				<li id="hcl-about-button"><a href='#hcl-about'><span>What is Hairy Cell Leukemia?</span></a></li>
			  <li id="hcl-history-button"><a href='#hcl-history'><span>History of HCL</span></a></li>
			  <li id="hcl-symptoms-button"><a href='#hcl-symptoms'><span>Symptoms</span></a></li>
			  <li id="hcl-diagnosis-button"><a href='#hcl-diagnosis'><span>Diagnosis</span></a></li>
			  <li id="hcl-treatment-button"><a href='#hcl-treatment'><span>Treatment</span></a></li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 hcl-about">
			<h4>What is Hairy Cell Leukemia?</h4>			
			<p>Hairy cell leukemia is a chronic and relatively rare form of adult leukemia. It is estimated that approximately 2 % of all adult patients with leukemia have this form of disease. While the cause of this malignancy is not known, the origin of the malignant cell is thought to develop from the memory B cell compartment. These malignant cells infiltrate the bone marrow, the spleen, and the liver from the time of diagnosis. In the spleen, there is a characteristic location of these leukemic cells in the splenic red pulp. While lymph nodes in the abdomen may be involved, lymph nodes are rarely enlarged on physical examination. The original description of this malignancy included a number of patient cases that were reported in 1958.</p>
			<p>For many years, the origin of this malignant cell was debated. It is now generally held that this is a malignant B cell that is found predominantly in the bone marrow and spleen. These cells do circulate in the blood as well.</p>
			<p>This disease usually is gradual in onset. Patients present with fatigue, increased susceptibility to infection, and enlargement of the spleen. The malignant cells in the bone marrow compromise the usual production of normal red cells, white blood cells, and platelets that are manufactured in the bone marrow.</p>
			<p>There are approximately 500 new cases of this disease discovered every year in the United States. There is an unexplained larger number of men than women afflicted with this leukemia. This disease is treatable, but not curable. While the cause is not known, the treatment is usually very effective in helping patients lead a normal life.</p>
			<a href="https://www.hairycellleukemia.org/about-hcl/what-is-hairy-cell-leukemia/">hairycellleukemia.org</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 hide-hcl-info hcl-history">
			<h4>History of HCL</h4>			
			<p>Hairy cell leukemia represents an uncommon chronic form of B-cell leukemia. In the past, several individuals described similar cases and classified the disease as “leukemic reticuloendotheliosis”(Ewald, O 1923; Gosselelin GR in 1956; and Bouroncle B in 1958). Dr. Bouroncle described the multiple features of this rare leukemia firmly establishing this as a separate clinical entity. The malignant cells were identified predominantly in the bone marrow, spleen, and other tissues. The morphologic description of this malignant cell was so unique that it was subsequently called “hairy cell leukemia” consistent with the serrated border of the cytoplasm. While the origin of this malignant cell was often debated, it has ultimately been recognized as a B-cell malignancy with a very distinctive immunophenotypic profile.</p>
			<p>For the latter part of the past century, the diagnosis was made by describing these leukemic cells in the peripheral blood and the bone marrow. The cells were often identified as positive for the tartrate-resistant phosphatase cytochemical stain. With the advent of flow cytometry, the identity of this leukemia was characterized by the expression of markers: CD11c+,CD19, CD20, CD 25, CD103, CD 123, and Annexin positivity. Classic hairy cell leukemia has been differentiated from the less common variant form of this leukemia which is now known to be a completely separate clinical entity. The leukemic presentation of the variant form of this disease may be associated with bone marrow failure and significant splenomegaly, but the diagnostic markers differ from the classic form of the disease as does the clinical course and response to therapy. In the variant form of the disease, the markers CD25, CD 103, CD 123 and Annexin are not detected.</p>
			<p>In 2011, Dr. Tiacci and colleagues described the presence of BRAFV600E mutation in leukemic cells from almost every patient with the classic form of the disease. In sharp contrast, this mutation is missing in the variant form of the disease. This observation has provided diagnostic accuracy as well as a novel therapeutic target for patients with the classic form of the disease. In patients who have been unresponsive to standard effective therapy for classic hairy cell leukemia, clinical responses have been observed in patients treated with BRAFV600E inhibitors. Both vemurafenib and dabrafenib have been reported to induce remissions in patients with relapsed or refractory disease.</p>
			<p>In the 1950’s, Bouroncle and colleagues reported that the classic form of hairy cell leukemia had a variable chronic course, and the overall survival was in the range of 4 to 6 years. The patient bone marrow was routinely very fibrotic and involved with the leukemic cells making tolerance to standard cytotoxic agents very challenging. Tolerance to cytotoxic agents was very low, and equally ineffective. Consequently, splenectomy became the therapy of choice to correct the “cytopenias” that frequently complicated the clinical course for these patients. While splenectomy improved the blood counts, the response was usually limited.</p>
			<p>In 1984, Quesda and colleagues reported the remarkable results with daily alpha interferon. Despite symptoms related to the use of this biologic agent (e.g. fatigue, influenza-like symptoms), the improvement in hematologic parameters was dramatic. Granulocyte numbers improved both in the bone marrow and the peripheral blood. Splenomegaly gradually improved as the blood counts responded over several months. While more than 80% of patients achieved a response to alpha interferon, less than 20% achieved a complete remission. Furthermore, responses were in general short-lived after discontinuing this agent. In the same period, a report by Spiers showed that pentostatin was capable of inducing a complete remission in a limited number of patients with hairy cell leukemia. Shortly thereafter, other investigators showed that durable complete remissions could be achieved with lower doses of pentostatin. In a large randomized trial, Grever showed that pentostatin produced complete remission in more than 75% of patients and was markedly more effective than alpha-interferon.</p>
			<p>In 1990, Piro and colleagues showed that very promising responses could also be achieved with a seven-day intravenous infusion with cladribine. These responses were sustained. While the complete remission rate was reported to be greater than 90%, the rate of febrile neutropenia was higher with cladribine compared to pentostatin. This raised the possibility that pentostatin might be less likely to induce treatment-related infection. Both agents have now been confirmed as highly effective front-line therapy for newly diagnosed patients with hairy cell leukemia. Optimization of the doses and the correct timing for evaluating response may define the role for rituximab as an effective anti-CD20 monoclonal antibody that may be utilized to achieve negative MRD status.</p>
			<p>Despite the success and the impact of using either purine nucleoside analog, some patients will either relapse or be unresponsive to the initial induction therapy. Consequently, further evaluation of the BRAFV600E inhibitors or the combined chemo-immunotherapy with a purine analog and an anti-CD20 antibody are important. In addition, patients who relapse may be re-induced with standard therapy. The subsequent remissions may be less durable than those achieved with front-line therapy. Exploration of the optimal dose and schedule of administration of the BRAF V600E inhibitors, the use of novel targeted agents (e.g., immunotoxin conjugates like HA22) are promising, and will also be important. Finally, exploration of the utility for novel agents highly active in other B-cell lymphoid malignancies (e.g., Ibrutinib) may add therapeutic alternatives in ultimately achieving the most durable remissions.</p>
			<p>The enormous progress that has been made in therapy has re-kindled interest in defining the optimization of overall management for this chronic B-cell malignancy. Careful assessment of the impact of minimal residual disease on the subsequent course of this malignancy may provide a framework for additional progress in management. The myriad of clinical manifestations associated with this single entity provide optimal opportunities for taking a comprehensive assessment of the management of these patients. Advances in genomic profiling of initial malignant cells as well as those found at relapse will potentially afford information to circumvent drug resistance in this model of chronic leukemia. Hopefully, these lessons will light the way for advances in other forms of hematological malignancy. The historical journey associated with improving the outcome for patients with this disease should strengthen our commitment to make similar progress in other blood malignancies.</p>
			<a href="https://www.hairycellleukemia.org/about-hcl/what-is-hairy-cell-leukemia/">hairycellleukemia.org</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 hide-hcl-info hcl-symptoms">
			<h4>Symptoms</h4>			
			<p>Patients with hairy cell leukemia often have a very indolent disease and may not be diagnosed after several months or even years of illness. The symptoms may be divided into those related to the effects on their bone marrow, effects due to organ involvement, and secondary complications due to infections or those due to autoimmunity.</p>
			<h5>Bone Marrow Disease</h5>
			<p>Low red blood cell count or anemia can develop slowly but go as low as hemoglobin of 3-4 grams /dl with normal usually of 14-16 grams /dl. This can result in marked fatigue and weakness, shortness of breath, and or dizziness.</p>
			<p>Low white blood cell count especially low neutrophils which are important in fighting infection and patients can present with recurrent infections including pneumonias.</p>
			<p>Low platelet count to life-threatening levels where severe spontaneous bleeding can occur and patients may notice increased nosebleeds or gum bleeding, increased bruising, and even have severe bleeding from their stomach.</p>
			<h5>Organ Involvement</h5>
			<p>Patients may have the hairy cells go from bone marrow to other organs. Most prominent include the spleen. A common finding in up to 90% of patients is an enlarged spleen even two to three times normal. This can cause pain on the left side where the spleen is located, early feeling of fullness in the stomach thus difficulty eating, and in some cases death of spleen tissue or infarct with severe pain and or spleen rupture.</p>
			<p>The liver may also be involved leading to pain in the right side and abnormalities of the liver activity leading to leakage of fluid in the abdomen called ascites.</p>
			<p>Although uncommon, hairy cells can invade the bones and cause bone destruction with severe bony pain.</p>
			<p>Lymph nodes may be affected and enlargement can cause pain whether in nodes in the neck or the abdomen.</p>
			<p>Finally there can be involvement in the brain causing headaches or abnormalities of brain function.</p>
			<h5>Secondary Complications</h5>
			<p>Patients with hairy cell leukemia can have a disturbed immune system due to changes in their blood cells, not just the neutrophil, but also other cells important in protecting against infection. Unusual infections due to fungus and viruses can affect the skin, lungs liver, and brain. Symptoms from these can include that of pneumonia with fever cough and sob. Patients may develop a painful rash due to reactivation of chicken pox in their nerve called herpes zoster. If there is involvement of the brain patients may have severe headaches or confusion.</p>
			<p>Autoimmune disease may be seen in up to 35% of patients in some published reports and usually present as inflammation of vessels called vasculitis and or joints and other tissues. Patients may have increased joint pain and swelling, unusual skin rashes, or systemic symptoms of fever and weight loss. This can occur as a presenting sign or any time during the illness.</p>
			<h5>Summary</h5>
			<p>Patients with hairy cell leukemia may develop many different symptoms due to their illness and patients and doctors should be aware of the many associated problems that can occur. A careful history of the patient’s complaints may help localize the cause and allow for proper treatment.</p>
			<a href="https://www.hairycellleukemia.org/about-hcl/what-is-hairy-cell-leukemia/">hairycellleukemia.org</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 hide-hcl-info hcl-diagnosis">
			<h4>Diagnosis</h4>			
			<p>In patients who are having symptoms from this disease, there is often an enlarged spleen felt on physical examination. In the original series published by Dr. Bertha Bouroncle, more than 90% had an enlarged spleen. Subsequently over the years, the finding on an enlarged spleen is more often identified in about 80% of the patients. Therefore, the failure to identify an enlarged spleen does not preclude the diagnosis of hairy cell leukemia. Most patients will have reduced hemoglobin, neutrophiles, and monocytes. Thrombocytopenia is also quite common. A careful examination of the peripheral blood smear will identify the circulating leukemic cells with a serrated cytoplasmic border.</p>
			<p>If the physician is planning to find the cause of an enlarged spleen or the reason for an abnormal blood test, you will need to have a physical examination and blood work drawn.</p>
			<p>The spleen is located in the upper left side of your abdomen. Sometimes the spleen is enlarged and can be felt by the physician during your examination. It may be necessary for the physician to order a CAT scan of the abdomen to look for the size of the spleen. This study may also show enlargement of lymph nodes that are located in the abdomen.</p>
			<p>Your blood work will often show anemia (low red blood cell count), low white blood cell count with abnormal forms of cells, and a low platelet count (that can predispose to bleeding). On reviewing the blood smear, the appearance of cells with hairy borders can be observed. These leukemic cells have a distinct appearance under the microscope. You may also have a reduced number of the normal white blood cells that protect from infection. The absolute numbers of these cells can be useful in determining when treatment should be initiated as well as in establishing the diagnosis.</p>
			<p>There are sophisticated studies that can be done on your blood sample to identify certain markers on the surface of the leukemic cells. The markers are called immunophenotype markers. There are characteristic patterns of markers expression that will help to confirm the correct diagnosis.</p>
			<p>The physician will likely refer you to a hematologist or oncologist who specializes in the diagnosis and treatment of patients with leukemia. Patients often have a bone marrow biopsy performed that will help in understanding the diagnosis and treatment options. A bone marrow biopsy is performed by using a needle to take a sample of bone from the area near the rear area of your hip. While this is painful, the physician can give both local and other medication to reduce the pain. This procedure is relatively quick, and provides a very useful confirmation of the diagnosis.</p>
			<a href="https://www.hairycellleukemia.org/about-hcl/what-is-hairy-cell-leukemia/">hairycellleukemia.org</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 hide-hcl-info hcl-treatment">
			<h4>Treatment</h4>			
			<p>Hairy Cell Leukemia is a rare disorder but one of the most successfully treated of all leukemias. Since the advent of new, effective, agents in the 1980s most patients will enjoy very prolonged disease remission (median of more than 15 years in one series) associated with normal quality of life and survival that is not significantly different from an age-matched population of individuals who do not have HCL. Although current treatment is not considered curative, different therapies can be given sequentially as needed to control the disease over many decades.</p>
			<h5>When to start treatment?</h5>
			<p>Not all patients will require treatment immediately after the diagnosis is made and can be monitored until it is needed. This ‘watch and wait’ surveillance approach can be difficult for patients and their families and generates a lot of anxiety. However, unlike other types of cancer, leukemias do not spread or metastasise and so waiting to start treatment until there are clear signs that it is indicated is perfectly safe and has the advantage of not exposing a patient to drugs, which may have side effects, earlier than is necessary. Other patients will clearly need treatment straight away because of symptoms and/or very low blood counts. The decision of when to start treatment depends upon the symptoms experienced by the patient and the degree of abnormality in the blood count. Often patients will remain entirely well even if they do need treatment because of a reduction in normal blood counts. This reduction is the usual reason for initiating treatment and it is preferable not to wait until the blood counts fall to very low levels even if the patient is well. Three types of cells may be reduced – red blood cells (causing anemia), white blood cells (which help fight infection) and platelets (which prevent abnormal bleeding and bruising). Not all may be low but most commonly the ability to fight infection is reduced and treatment is needed to restore this. After treatment there is almost always a further, temporary, fall in normal counts before they recover as it takes time for the disease to clear from the bone marrow. Recovery usually takes 3-6 weeks. Infection is the biggest risk, before, during and for a period after, treatment. It is important to treat any active infection effectively before any therapy for the HCL is started. It is rare that treatment is needed urgently for HCL. Therefore, careful clinical judgment is necessary to make the best decision for each individual patient regarding the optimal time to start treatment for the HCL.</p>
			<h5>What treatment to use?</h5>
			<p>For the past 30 years the mainstay of treatment for HCL has been with 2 drugs in the group of purine analogues called pentostatin and cladribine. Pentostatin was the first to be introduced in the 1980s and then cladribine in the early 1990s so there is now a great deal of experience and long-term follow up with these agents. Both are highly effective at inducing a remission (in almost 100% of patients) with no significant difference between the two. Most of these remissions are complete (CR) i.e. no sign of any remaining disease in the bone marrow using standard methods. Such remissions often last for very prolonged periods of time (more than 10 years).</p>
			<h5>How are these drugs administered and what are the side effects?</h5>
			<p>Pentostatin is administered as a short intravenous (IV) infusion every 2-3 weeks until a remission is achieved (usually 8-10 injections). It is excreted in the body by the kidneys and it is therefore important to check kidney function to ensure this is normal. The dose of pentostatin needs to be reduced if the creatinine clearance (measure of renal function) falls below a certain level. Patients can experience nausea up to 72 hours after the infusion and should have anti-sickness pills to take if needed.</p>
			<p>Cladribine can be given in a number of ways including as a 7- day continuous IV infusion (which may require a hospital admission), daily or weekly IV infusions for 6 doses or as a subcutaneous injection on 5 consecutive days. There is no evidence that these are not all equivalent in terms of effectiveness and the choice will largely depend on the physician and patient. Most can be given as out patient treatment.</p>
			<p>Both treatments are generally well tolerated but are associated with a temporary reduction in normal blood counts. This needs to be monitored closely until they recover (weekly initially). Sometimes the recovery of the blood counts can be delayed for a much longer time but eventually they do improve.</p>
			<p>Pentostatin and cladribine also cause a more prolonged suppression of the immune system and advice should be given about the signs and symptoms of infection to be on the watch for. Infections should always be taken seriously as prompt treatment is important. Some doctors will also administer low doses of antibiotics/antivirals to reduce the risk of infections. In the case of cladribine it is better to start these after the 1-week course of treatment has been given since rashes can sometimes occur when the drugs are given concurrently. Occasionally growth factors (eg GCSF) may be given to speed the recovery of the white blood cells. Other supportive drugs such as allopurinol are not usually needed. Blood transfusions, if required, should be with irradiated blood.</p>
			<p>Splenectomy is rarely undertaken now since other therapies are so effective in reducing the size of the spleen, which is often enlarged at the time of diagnosis.</p>
			<p>Interferon is rarely used. It is not well tolerated and much less effective than the purine analogues, but occasionally may still be useful.</p>
			<p>Rituximab used as a single agent in first line treatment of HCL is not as effective in inducing remissions as the purine analogues. Its use would be reserved for patients unable to tolerate purine analogues. There is early evidence that better remissions may be achieved with the combination of rituximab and a purine analogue (pentostatin or cladribine). Because of the very good results with purine analogues alone for most patients the addition of rituximab is often reserved for those patients who do not achieve a CR or who relapse earlier than expected after treatment.</p>
			<p>Novel Agents: Targeted therapies such as immunoconjugates (moxetumumab pasudotox), BRAF inhibitors (eg vemurafenib) and B-cell receptor inhibitors (eg ibrutinib) all have activity in HCL. Currently these have been examined in relapsed or refractory HCL and only in a very small number of patients (in whom PAs cannot be given) as first line therapy. A number of clinical trials are being undertaken to evaluate these drugs further.</p>
			<p>Clinical Trials: HCL is a rare disease and there are very few clinical studies being undertaken worldwide. It is important for patients to participate in clinical trials if at all possible, particularly if their disease has been hard to treat and they would particularly benefit from novel therapy.</p>
			<h5>Assessment of Response and Monitoring</h5>
			<p>Usually within a few weeks of receiving treatment the blood counts begin to recover and will often return to completely normal levels. However, to assess response an examination of the bone marrow is necessary. This will not be taken for at least 3-4 months as it takes time for the treatment to have its full effect. The BM is not pleasant for patients but does give important information about the quality of response to the treatment that has been given and whether or not more or different therapy may be needed. Studies have shown that in those patients who have obtained a CR, the remission lasts longer. There are other more sensitive laboratory methods which can assess ‘minimal residual disease’ or MRD, which may be present even in patients in a CR. It is not entirely clear what effect the presence of MRD has on outcome. MRD assessment is usually only undertaken in the setting of a clinical study and the results do not currently indicate any need to change the treatment plan. CT or US scans may be repeated, if they were abnormal before treatment, to assess response.</p>
			<p>Around 40% of patients will relapse, even if this is after 10 years or more. Regular monitoring by a hematologist will usually take place. This may only be once or twice a year for patients in a stable remission. Relapse is usually indicated by falling blood counts and confirmed by examination of the bone marrow. Retreatment is nearly always successful although the remissions tend to last for a shorter period of time when the same treatment is given again.</p>
			<a href="https://www.hairycellleukemia.org/about-hcl/what-is-hairy-cell-leukemia/">hairycellleukemia.org</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3 text-center">
			<img src="<%= asset_path 'hcl.jpg'%>" alt="">
			<p style="font-size: 12px;">Hairy cell leukemia cells, which appear as the darker purple cells in this photo, are surrounded by a halo of fine projections (villi)  that look “hairy” under a microscope.</p>
		</div>

	</div>	
</div>

<script>
	$(function(){

	$('#info-nav li').click(function(){
		var	el = $(this);
		updateInfo(el);		

	});


function emptyInfo(){
	console.log('Hide all information');
	$("div.hcl-about").hide();
	$("div.hcl-history").hide();
	$("div.hcl-symptoms").hide();
	$("div.hcl-diagnosis").hide();
	$("div.hcl-treatment").hide();

}

function updateInfo(obj) {
	emptyInfo();
	var topic = obj.attr('id');
	if (topic === 'hcl-about-button') {
		var main = $('.hcl-about');
		main.fadeIn(400, function(){
			main.show();
		})
	} else if (topic === 'hcl-history-button') {
		var history = $('.hcl-history');
		history.fadeIn(400, function(){
			history.show();
		});
		console.log('showing hcl history');		
	} else if (topic === 'hcl-symptoms-button') {
		var symptoms = $('.hcl-symptoms');
		symptoms.fadeIn(400, function(){
			symptoms.show();
		});
		console.log('showing hcl symptoms');		
	} else if (topic === 'hcl-diagnosis-button') {
		var diagnosis = $('.hcl-diagnosis');
		diagnosis.fadeIn(400, function(){
			diagnosis.show();
		});
		console.log('showing hcl diagnosis');		
	} else if (topic === 'hcl-treatment-button') {
		var treatment = $('.hcl-treatment');
		treatment.fadeIn(400, function(){
			treatment.show();
		});
		console.log('showing hcl treatment');		
	} 
}

})
</script>
