
<div id="home-page">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">The Erik Hendricks Memorial Foundation</h2>
		</div>

	</div>
	<div id="home-page-header" class="row">

		<div class="col-xs-12 col-sm-12 col-md-8">
			<p>The Erik Hendricks Memorial Foundation seeks to bring awareness to and raise much-needed funding for cancer patient support to decrease financial and logistical burdens and increase information and access to experts, resources and options for patients and their families.</p>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 text-center">
			<img src="<%= asset_path 'yellow_hat.jpg'%>" alt="">
		</div>

	</div>
	<div class="row">

		<div id="tag-line" class="col-xs-12 col-sm-12 col-md-12 text-center">
			<h3>Beyond The Medicine</h3>
			<h5>Mission Statement: SUPPORT THE NEEDS OF CANCER PATIENTS AND FAMILIES BEYOND THE MEDICINE.</h5>
		</div>

	</div>
	<div class="row">

		<div id="main-donate" class="col-xs-12 col-sm-5 col-md-5 text-center">
			<%= link_to image_tag('Donate_now.png'), donate_path %>
		</div>

		<div id="upcoming-events" class="col-xs-12 col-sm-7 col-md-7 text-center">
			<h2 class="page-header">Fall 2016 Events</h2>

			<div>
				<img src="<%= asset_path 'summer-5.jpg' %>" alt="">
			</div>
			<br>
			<a href="<%= events_path %>">Upcoming Events/Pictures</a>
		</div>

	</div>
</div>



