<h1>You did it!</h1>

<button class="btn btn-default" type="submit">Button</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-primary btn-lg">Large button</button>