

<div id="erik" class="row">

	<div class="col-xs-12 col-sm-12 col-md-4 text-center">
		<img src="<%= asset_path 'yellow_hat.jpg'%>" alt="">
	</div>

	<div id="mission" class="col-xs-12 col-sm-12 col-md-8 text-center">
		<p>Those who knew Erik Hendricks knew that he battled Hairy Cell Leukemia (HCL) for more than 20 years, and ultimately lost his life to the disease. To honor his memory, the Erik Hendricks Memorial Foundation seeks to raise much-needed funding for HCL research, which will ultimately help others afflicted with this disease fight as valiantly as Erik did. The Hairy Cell Leukemia Foundation is currently conducting a fundraising campaign to meet a $1 million fundraising challenge match. The funds raised through the Erik Hendricks Memorial Foundation will be donated to this campaign - so your gift, or your participation in a fundraising event - will be doubled in its impact on the fight against this disease.</p>
	</div>

</div>

<div class="row">

	<div id="main-donate" class="col-xs-12 col-sm-12 col-md-6 text-center">
		<h1>Donate</h1>
	</div>	

	<div id="upcoming-events" class="col-xs-12 col-sm-12 col-md-6 text-center">
		<h1>Upcoming Events</h1>
	</div>

</div>
