
<div id="home-page">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">The Erik Hendricks Memorial Foundation</h2>
		</div>

	</div>
	<div id="home-page-header" class="row">

		<div class="col-xs-12 col-sm-12 col-md-8">
			<p>Honoring the legacy of Erik Hendricks by raising funds and awareness for Hairy Cell Leukemia (“HCL”) research, clinical trials, and patient support services. HCL is the disease that Erik Hendricks battled for more than 20 years and eventually took his life.</p>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 text-center">
			<img src="<%= asset_path 'yellow_hat.jpg'%>" alt="">
		</div>	

	</div>
	<div class="row">

		<div id="main-donate" class="col-xs-12 col-sm-5 col-md-5">
			<%= link_to image_tag('Donate_now.png'), donate_path %>
		</div>	

		<div id="upcoming-events" class="col-xs-12 col-sm-7 col-md-7">
			<h2 class="page-header">Summer Event</h2>
			<h3>1st Annual Rocco's Round</h3>
			<h4>When: July 17th 2015</h4>
			<h4>Where: Philadelphia Country Club</h4>
			<img src="<%= asset_path 'summer-5.jpg' %>" alt="">
		</div>

	</div>
</div>



