

<div id="erik" class="row">

	<div class="col-xs-12 col-sm-12 col-md-4 text-center">
		<img src="<%= asset_path 'yellow_hat.jpg'%>" alt="">
	</div>

	<div id="mission" class="col-xs-12 col-sm-12 col-md-8 text-center">
		<h1>The Erik Hendricks Memorial Foundation</h1>
		<p>To honor the legacy of Erik Hendricks by raising funds for charitable organization, research and patient support focused on Hairy Cell Leukemia.  HCL is the disease Erik Hendricks battled for more than 20 years and eventually took his life.</p>
	</div>

</div>

<div id="home-info" class="row">

	<div id="main-donate" class="col-xs-12 col-sm-6 col-md-6 text-center">
		<h1>Donate</h1>
	</div>	

	<div id="upcoming-events" class="col-xs-12 col-sm-6 col-md-6 text-center">
		<h1>Upcoming Events</h1>
	</div>

</div>
