

#hcl img {
	height: 250px;
	width: 250px;
}

.hide-hcl-info {
	display: none;
}

.hcl-info {
	margin-bottom: 30px;
}

.page-header h2{
	border-bottom: 1px solid black;
	margin: 25px;	
}

.hcl-info img {
	margin-top: 10px;
}

.the-board {
	
}

// #youtube {
// 	background-color: lightblue;
// 	border: 1px solid black;
// 	height: 300px;	
// }

#events img {
	width: 100px;
	height: 100px;
}

#events h3 {
	font-weight: 900;
}

#events p {
	border-top: 1px solid black;
	padding-top: 30px;
}

.box {
	height: 450px;
	margin: 25px;
}

@media (max-width: 992px) {
	.box {
		height: auto;
		padding: 20px;
	}
}

.box-color {
	background-color: #C1D1E0;
}

.other-box-color {
	background-color: #FFFFA3;
}

#youtube {
	margin-top: 50px;
}

.Collage{

    /* define how much padding you want in between your images */
    padding:10px;

    }

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:0;

    }