

#hcl h2 {
	border-bottom: 1px solid black;
}

#about h2 {
	border-bottom: 1px solid black;
}

// #youtube {
// 	background-color: lightblue;
// 	border: 1px solid black;
// 	height: 300px;	
// }

#contact h2 {
	border-bottom: 1px solid black;
}

#events img {
	width: 100px;
	height: 100px;
}

.box {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}

.Collage{

    /* define how much padding you want in between your images */
    padding:10px;

    }

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:0;

    }