
#contact img {
	padding-top: 180px;
}

.contact-wrapper {
	width: auto;
	
	overflow: hidden;
	width: 100%;
	padding: 20px;
}

.first {
	background-color: #06A77D;
	border: 1px solid black;
	float: left;
	width: 30%;
	padding: 10px;
	color: white;
}

.first span {
	padding-right: 10px;
}

.second {
	border: 1px solid black;
	padding: 10px;
	overflow: hidden;
}

#donate h4 {
	padding-bottom: 50px;
}

.donate-box {
	border: 2px solid black;
	height: 325px;
	width: auto;
	min-width: auto;
	box-shadow: 5px 2px 2px black;
	border-radius: 8px;
}

.donate-box h3 {
	text-decoration: underline;
}

.donate-box input {
	height: 60%;
	width: 60%;
}

#hcl img {
	height: 55%;
	width: 55%;
}

.hide-hcl-info {
	display: none;
}

.hcl-info {
	margin-bottom: 30px;
}

.hcl-info h4 {
	text-decoration: underline;
}

.hcl-info h5 {
	text-decoration: underline;
}

#info-nav {
	// background-color: #C1D1E0;
	// background-color: #FFFFA3;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	border-right: 1px solid black;
}

#info-nav ul {
	list-style-type: none;
}

#info-nav li {
	padding: 5px;
}

#info-nav a {
	color: #333333;
}

#info-nav a:visited {
	color: #333333;
}

.page-header h2{
	border-bottom: 1px solid black;
	margin: 25px;	
}

.hcl-info img {
	margin-top: 10px;
}

.the-board {
	padding-bottom: 40px;
}

// #youtube {
// 	background-color: lightblue;
// 	border: 1px solid black;
// 	height: 300px;	
// }

#events img {
	width: 100px;
	height: 100px;
}

#events h3 {
	font-weight: 900;
}

.box {
	height: 450px;
	margin: 25px;
}

.box p {
	border-top: 1px solid black;
	padding-top: 30px;	
}

@media (max-width: 992px) {
	.box {
		height: auto;
		padding: 20px;
	}
}

.box-color {
	background-color: #C1D1E0;
	// background-color: rgb(63, 73, 117);	
}

.other-box-color {
	background-color: #FFFFA3;
	// background-color: rgb(255, 224, 0);	
}

#youtube {
	margin-top: 50px;
}

.Collage{

    /* define how much padding you want in between your images */
    padding:10px;

    }

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:0;

    }