// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#home-page-header {
	border-bottom: 1px solid grey;
	padding: 30px;
}

#home-page-header p {
	padding-top: 30px;
	font-size: 20px;
}

#tag-line {
  border-bottom: 1px solid grey;
  padding: 6px 0 20px;
}

#main-donate img {
	padding-top: 40px;
	height: 80%;
	width: 60%;
}

#upcoming-events img {
	width: 60%;
	height: 60%;
}
