// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#erik {
	padding: 30px;
	border-bottom: 1px solid black;
}

#mission {
	
}

#upcoming-events {
	// background-color: lightgreen;
	
	height: 300px;
}

#upcoming-events h2 {
	// text-decoration: underline;
	border: 1px solid black;
	padding: 10px;
}

#main-donate {
	// background-color: lightblue;
	// border: 1px solid black;
	height: 300px;
}

#home-info {
	padding: 30px;
}